
//variables

//heights and widths
@streams-list-width: 250px;
@top-menu-height: 50px;
@bottom-menu-height: @top-menu-height;

//colors
@bottom-menu-color: #333e52;
@streams-list-background:#333e52;
@streams-list-color:#fefefe;
@top-menu-color: #333e52;
@input-background: #3d5174;
@button-background: #3d5174;
@input-textcolor: #fefefe;
@button-textcolor: #fefefe;
@container-color: #3d5174;
@title-color: #fefefe;
@channel-list-color: #fefefe;
@channel-text-color: #fefefe;
@channel-list-background: #8d31b0;
@channel-text-background: #333333;