@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular';
}
#container {
  position: fixed;
  z-index: 70;
  left: 250px;
  top: 50px;
  right: 0;
  bottom: 50px;
  background: #3d5174;
}
#container .stream-frame {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#streams-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #333e52;
  z-index: 99;
}
#streams-list .list-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
#streams-list .list-header > div {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #3d5174;
  line-height: 50px;
  text-align: center;
  color: #fefefe;
  cursor: pointer;
}
#streams-list .list-header > div.active {
  background: #2b3a53;
  cursor: default;
}
#streams-list .list-body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
#streams-list .list-body > div {
  display: none;
}
#streams-list .list-body > div.active {
  display: block;
}
#streams-list .list-body > div .loading-streams {
  color: #fefefe;
  text-align: center;
  display: block;
  font-size: 11px;
  padding: 10px;
}
#streams-list .list-body > div .stream {
  display: block;
  position: relative;
  margin: 2px;
  padding: 2px;
  border: 1px solid #b2b2b2;
  text-align: right;
  color: #fefefe;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#streams-list .list-body > div .stream .status {
  font-size: 11px;
  position: absolute;
  left: 2px;
  top: 4px;
}
#streams-list .list-body > div .stream .stream-info {
  position: absolute;
  right: -210px;
  width: 200px;
  font-size: 11px;
  top: 0;
  height: 80px;
  color: #000;
  text-align: left;
  padding: 5px;
  background: white;
  z-index: 99;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#streams-list .list-body > div .stream .stream-info .info-img {
  float: left;
  width: 93px;
  height: 70px;
}
#streams-list .list-body > div .stream .stream-info .info-right {
  float: left;
  padding-left: 3px;
}
#menu-top {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  left: 250px;
  background: #333e52;
}
#menu-top .title-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
#menu-top .title-container .fentv-title {
  line-height: 50px;
  color: #fefefe;
  font-size: 24px;
  padding-left: 5px;
  font-family: 'Lato-Bold';
}
#menu-top .title-container .active-users {
  padding-left: 10px;
  color: #fefefe;
  font-size: 9px;
}
#menu-top .chat-header {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
#menu-top .chat-header .hide-chat {
  position: absolute;
  right: 5px;
  width: 95px;
  top: 5px;
  bottom: 5px;
  border: none;
  background: #3d5174;
  color: #fefefe;
  cursor: pointer;
}
#menu-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  left: 250px;
  background: #333e52;
}
#menu-bottom .input-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 50px;
  margin: 0;
  padding: 0;
}
#menu-bottom .input-container .msg_fenchat {
  position: absolute;
  left: 0;
  right: 100px;
  top: 5px;
  bottom: 5px;
  padding-left: 5px;
  border: none;
  background: #3d5174;
  color: #fefefe;
}
#menu-bottom .input-container .submit_msg {
  position: absolute;
  right: 5px;
  width: 95px;
  top: 5px;
  bottom: 5px;
  border: none;
  background: #3d5174;
  color: #fefefe;
  cursor: pointer;
}
#fenchat {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 50px;
  z-index: 101;
  -webkit-transition: right 0.8s ease-out;
  -moz-transition: right 0.8s ease-out;
  -o-transition: right 0.8s ease-out;
  transition: right 0.8s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
#fenchat .chat-container {
  margin-left: 125px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#fenchat .chat-container .channel-listing {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: rgba(141, 49, 176, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 5px;
  color: #fefefe;
}
#fenchat .chat-container .channel-text {
  position: absolute;
  left: 0;
  right: 200px;
  top: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 5px;
  color: #fefefe;
}
#fenchat .chat-container .channel-text .messages {
  border-spacing: 0;
}
#fenchat .chat-container .channel-text .messages td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#fenchat .chat-container .channel-text .messages td a {
  color: #fefefe;
}
#fenchat .chat-container .channel-text .messages .time {
  width: 85px;
  text-align: center;
}
#fenchat .chat-container .channel-text .messages .time div {
  background: rgba(0, 0, 0, 0.5);
}
#fenchat .chat-container .channel-text .messages .nick {
  text-align: right;
  width: 120px;
  border-right: 1px solid #fefefe;
  padding-right: 8px;
}
#fenchat .chat-container .channel-text .messages .message {
  padding-left: 5px;
}
